<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="test_site_gazebo">
  <static>true</static>
  <link
    name="base_link">
    <static>true</static>
    <inertial>
      <origin
        xyz="0 0 2"
        rpy="0 0 0" />
      <mass
        value="3271.8" />
      <inertia
        ixx="837.38"
        ixy="1.8972E-13"
        ixz="3.7907E-30"
        iyy="837.38"
        iyz="-3.8867E-14"
        izz="278.77" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_site_gazebo/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_site_gazebo/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>
