<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="x_pos" default="-4.500000"/>
  <arg name="y_pos" default="-2"/>
  <arg name="z_pos" default="0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find mbot_simulations)/worlds/test_site_gazebo.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
 
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="true"/>
  </node>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>
  
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find mbot_description)/urdf/robotbody.xacro"/>

  <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model robot_francis -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos)" /> 
  
</launch>
