<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="test_site_gazebo">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="1.7614 -0.66595 1.9185"
        rpy="0 0 0" />
      <mass
        value="14577" />
      <inertia
        ixx="81086"
        ixy="14.025"
        ixz="-0.0054252"
        iyy="483890"
        iyz="1.3021E-05"
        izz="417960" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_site_gazebo/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_site_gazebo/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>